<!DOCTYPE HTML>
<html>
    <head>
        <title>Parse CSV with GO</title>
    </head>
    <body>
        {{range .}}
        Date: {{.Date}}
        Open: {{.Open}}
        <br><br>
        {{end}}
    </body>
</html>
