{{define "header"}}
<!DOCTYPE HTML>
<html>
    <head>
        <title>{{.}}</title>
        <link rel="stylesheet" href="main.css">
    </head>
    <body class="{{.}}">
{{end}}
{{define "footer"}}
    </body>
</html>
{{end}}