<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>functions</title>
</head>
<body>

{{.}}

{{. | fDouble}}

{{. | fDouble | fSquared}}

{{. | fDouble | fSquared | fSqrt}}

</body>
</html>
