<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>functions</title>
</head>
<body>

{{range .People}}
{{uc .FirstName}}
{{end}}

{{range .Cars}}
{{ft .Name}} {{mph .Speed}}
{{end}}

</body>
</html>
